* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  img {
    display: flex;
    object-fit: cover;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  :root {
    @include theme(light);
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);
    font-family: $main-ff;
  }

  body.dark-mode {
    --primary-color: #{$dark-primary-color};
      --secondary-color: #{$dark-secondary-color};
      --background-color: #{$dark-background-color};
      --card-background-color: #{$dark-card-background-color};
      --text-color: #{$dark-text-color};
      --muted-text-color: #{$dark-muted-text-color};
      --border-color: #{$dark-border-color};
      --hover-color: #{$dark-hover-color};
      --link-color: #{$dark-link-color};
      --footer-background: #{$dark-footer-background};
      --moon-bg: #{$dark-moon-bg-color};
      --header-border-color: #{$dark-header-border-color};
      --input-text-color: #{$dark-input-text-color};
      --input-bg: #ffffff;
      --hero-subtitle: #ffffff;
      --white-555: #{$dark-white-555};
      --com-info-bg: #{$dark-comunity-info-bg};
  }
  
  main {
    flex-grow: 1;
  }
  
  .container {
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  